istanbul-tools

node0/node.log
node0/nohup.out
node1/node.log
node1/nohup.out
node2/node.log
node2/nohup.out
node3/node.log
node3/nohup.out
node4/node.log
node4/nohup.out
node5/node.log
node5/nohup.out

.idea